<?xml version="1.0" encoding="UTF-8"?>
#set( $dollar = '$' )
<Context reloadable="true">

  <!-- FIXME: workaround for https://issues.apache.org/jira/browse/MTOMCAT-158 -->
  <Resources className="org.apache.naming.resources.VirtualDirContext"
    extraResourcePaths="/${module-short-name}=${dollar}{basedir}/../${rootArtifactId}-client/target/${rootArtifactId}-client-${dollar}{project.version}/${module-short-name}/" />
</Context>
