<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <listener>
    <listener-class>${package}.${module}ServletContextListener</listener-class>
  </listener>

  <env-entry>
    <env-entry-name>${module-short-name}/logoutUrl</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>logout.jsp</env-entry-value>
  </env-entry>

  <filter>
    <filter-name>AjaxAuth</filter-name>
    <filter-class>${package}.AjaxAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AjaxAuth</filter-name>
    <url-pattern>/gwtRequest</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>${module}</realm-name>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/login.html</form-error-page>
    </form-login-config>
  </login-config>

  <security-constraint>
    <display-name>Authentification required (everywhere)</display-name>
    <web-resource-collection>
      <web-resource-name />
      <url-pattern>/*</url-pattern>
      <!-- there should be listed here explicitly, as they're used in other security-constraints -->
      <url-pattern>/gwtRequest</url-pattern>
      <url-pattern>/favicon.ico</url-pattern>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/static/*</url-pattern>
      <url-pattern>/${module-short-name}/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Unauthenticated access for AJAX requests (applicative handling)</display-name>
    <web-resource-collection>
      <web-resource-name />
      <url-pattern>/gwtRequest</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <display-name>Unauthenticated access for images and CSS (for use in login.html and logout.jsp)</display-name>
    <web-resource-collection>
      <web-resource-name />
      <url-pattern>/favicon.ico</url-pattern>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/static/*</url-pattern>
      <url-pattern>/${module-short-name}/*</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
  </security-constraint>

  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
